/* CSS!! */
* {
    outline: 1px solid blue;
    box-sizing: border-box;
}
body {
    background-color: pink;
    color: darkslategrey;
    font-family: fantasy;
    font-size: 15px;
}

h3 {
    font-size: 20px;
    color: rgb(54, 77, 78);
}

li {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}

header {
    background-color: plum;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: rgb(49, 52, 54);
}

header li {
    list-style: none;
    display: inline;
    padding-left: 5px;
    padding-right:5px;
    text-align: center;
}
nav {
    text-align: center;
}
